.Nota-wrapper{
   width: 100%;
}

.nota-title{
    width:100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #000000;
    padding: 5px;
    
}

.nota-content{
    text-align: justify;
    font-size: 14px;
}

